# 3.2.1 - Pré Processamento dos Dados: Dataframe Cartões

In [4]:
#Importando Pandas, OS para leitura do arquivo e Matplotlib

import pandas as pd
import os
import matplotlib.pyplot as plt

os.chdir('D:\\Users\\Diogo\\Documents\\Pós Graduação\\Módulos\\TCC\\DataSets\\Futebol Brasileiro')

In [5]:
#Importando o data set dos dados das partidas dos campeonatos brasileiros e os dados dos cartões amarelos

df_jogos=pd.read_csv('campeonato-brasileiro-full.csv',sep=',')
df_cartoes=pd.read_csv('campeonato-brasileiro-cartoes.csv',sep=',')

In [6]:
#Verificando os dados do dataframe df_cartoes
df_cartoes.head()

,partida_id,rodata,clube,cartao,atleta,num_camisa,posicao,minuto
0,4607,1,Figueirense,Amarelo,Paulo Roberto da Silva,28.0,NaN,66
1,4608,1,Internacional,Amarelo,Andrés D'Alessandro,10.0,Meio-campo,72
2,4608,1,Vitoria,Amarelo,Marcelo Machado dos Santos,29.0,NaN,86
3,4608,1,Vitoria,Amarelo,Mansur,NaN,Zagueiro,10
4,4607,1,Figueirense,Amarelo,Thiago Heleno,4.0,Zagueiro,44

In [8]:
#Agrupando a quantidade de cartões por partida_id, clube, cartao(tipo de cartão)

df_cartoes_tratados = df_cartoes.groupby(['partida_id','clube','cartao']).size().reset_index()
df_cartoes_tratados.head(20)

#Renomeando a coluna de quantidade de cartões
df_cartoes_tratados.rename(columns={0:'quantidade_cartoes'},inplace=True)
df_cartoes_tratados.head()

#Identificando se o clube é o mandante ou o visitante
#Atribuindo os dados para um Data Frame Temporário
df_cartoes_tratados_temp = df_cartoes_tratados

#Criando a coluna Mandante no DataFrame temporário e atribuindo um valor aleatório
df_cartoes_tratados_temp['mandante'] = 3

In [9]:
#Verificando as dimensões do Dataframe
df_cartoes_tratados_temp.shape

(7019, 5)

In [10]:
#Exibindo os dados do Data Frame df_cartoes

df_cartoes_tratados_temp[(df_cartoes_tratados_temp.mandante != 1) & (df_cartoes_tratados_temp.mandante != 0)]

      partida_id          clube    cartao  quantidade_cartoes  mandante
0           4607    Figueirense   Amarelo                   2         3
1           4608  Internacional   Amarelo                   2         3
2           4608        Vitoria   Amarelo                   3         3
3           4609       Coritiba   Amarelo                   1         3
4           4610   Athletico-PR   Amarelo                   1         3
5           4610         Gremio   Amarelo                   2         3
6           4611    Botafogo-RJ   Amarelo                   2         3
7           4611      Sao Paulo   Amarelo                   1         3
8           4612          Bahia   Amarelo                   4         3
9           4612       Cruzeiro   Amarelo                   4         3
10          4614       Flamengo   Amarelo                   4         3
11          4614          Goias   Amarelo                   2         3
12          4615         Santos   Amarelo                   1         3
13          4615          Sport   Amarelo                   3         3
14          4616       Criciuma   Amarelo                   3         3
15          4616      Palmeiras   Amarelo                   5         3
16          4617       Coritiba   Amarelo                   3         3
17          4617         Santos   Amarelo                   4         3
18          4618     Fluminense   Amarelo                   2         3
19          4618      Palmeiras   Amarelo                   1         3
20          4619    Botafogo-RJ   Amarelo                   2         3
21          4619    Botafogo-RJ  Vermelho                   1         3
22          4619  Internacional   Amarelo                   4         3
23          4620   Athletico-PR   Amarelo                   1         3
24          4620        Vitoria   Amarelo                   1         3
25          4621    Corinthians   Amarelo                   2         3
26          4621       Flamengo   Amarelo                   1         3
27          4621       Flamengo  Vermelho                   1         3
28          4622       Cruzeiro   Amarelo                   2         3
29          4622      Sao Paulo   Amarelo                   1         3
...          ...            ...       ...                 ...       ...
6989        8011      Juventude   Amarelo                   7         3
6990        8012     America-MG   Amarelo                   2         3
6991        8012      Palmeiras   Amarelo                   4         3
6992        8013    Atletico-GO   Amarelo                   1         3
6993        8014    Botafogo-RJ   Amarelo                   2         3
6994        8014         Santos   Amarelo                   4         3
6995        8014         Santos  Vermelho                   1         3
6996        8015    Atletico-MG   Amarelo                   1         3
6997        8015         Cuiaba   Amarelo                   4         3
6998        8016           Avai   Amarelo                   1         3
6999        8017   Athletico-PR   Amarelo                   1         3
7000        8017    Botafogo-RJ   Amarelo                   1         3
7001        8018          Ceara   Amarelo                   4         3
7002        8018      Juventude   Amarelo                   4         3
7003        8019     America-MG   Amarelo                   3         3
7004        8019    Atletico-GO   Amarelo                   2         3
7005        8019    Atletico-GO  Vermelho                   1         3
7006        8020      Fortaleza   Amarelo                   3         3
7007        8020         Santos   Amarelo                   1         3
7008        8021       Coritiba   Amarelo                   4         3
7009        8021       Coritiba  Vermelho                   1         3
7010        8021         Cuiaba   Amarelo                   1         3
7011        8022     Bragantino   Amarelo                   3         3
7012        8022     Fluminense   Amarelo                   2         3
7013        8023    Atletico-MG   Amarelo                   6         3
7014        8023    Corinthians   Amarelo                   3         3
7015        8024  Internacional   Amarelo                   2         3
7016        8024      Palmeiras   Amarelo                   3         3
7017        8025          Goias   Amarelo                   2         3
7018        8025      Sao Paulo   Amarelo                   1         3

[7019 rows x 5 columns]

In [11]:
#Percorrendo o Data Frame dos cartões
for linha in range(len(df_cartoes_tratados_temp)):

    #Coletando o Id 
    id=df_cartoes_tratados_temp.iloc[linha,0].astype(str)

    #Buscando o mandante do confronto pelo ID no Data Frame dos jogos
    mandante_jogos = df_jogos[['ID','mandante']].query('ID=='+id)
    mandante_jogos = mandante_jogos.iloc[0,1]

    #Coletando o time no Data Frame dos cartões
    mandante_cartoes = df_cartoes_tratados_temp.iloc[linha,1]
    
    #Identificando se o clube é mandante, caso seja o mesmo clube significa que o clube é mandante caso contrário o clube é
    #visitante
    
    if mandante_cartoes==mandante_jogos:
        #Atribui o valor 1 na Coluna Mandante
        df_cartoes_tratados_temp['mandante'].iloc[linha] = 1
        
    else:
        df_cartoes_tratados_temp['mandante'].iloc[linha] = 0

C:\Users\Diogo\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [12]:
#Alterando o nome da coluna partida_id para ID do DataFrame de cartões para que fique com o mesmo nome do DataFrame de 
# Jogos
df_cartoes_tratados_temp.rename(columns={'partida_id':'ID'},inplace=True)
df_cartoes_tratados_temp.head()

     ID          clube   cartao  quantidade_cartoes  mandante
0  4607    Figueirense  Amarelo                   2         0
1  4608  Internacional  Amarelo                   2         1
2  4608        Vitoria  Amarelo                   3         0
3  4609       Coritiba  Amarelo                   1         0
4  4610   Athletico-PR  Amarelo                   1         1

In [13]:
# Conferindo algumas partidas no Data Frame de Jogos e identificando se o mandante foi atribuido corretamente.

df_jogos[df_jogos.ID==4608]

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
4607,4608,1,19/4/2014,18:31,Internacional,Vitoria,NaN,NaN,A. da Silva Braga,N. da Silveira Júnior,Internacional,Estádio José Pinheiro Borda,1,0,RS,BA

In [29]:
#Filtrando somente os registros de cartões amarelos
df_cartoes_amarelos= df_cartoes_tratados_temp[(df_cartoes_tratados_temp.cartao == 'Amarelo')]

In [30]:
df_cartoes_amarelos['ID'].value_counts()

6141    4
6008    4
5880    4
7921    4
7913    4
5864    4
7905    4
5856    4
7897    4
5848    4
7889    4
7881    4
5832    4
7873    4
7865    4
5816    4
7857    4
5808    4
7849    4
5800    4
7841    4
5792    4
5784    4
7929    4
5888    4
5896    4
5944    4
5992    4
5984    4
8025    4
       ..
7430    2
6940    2
5383    2
5545    2
7681    2
6872    2
5602    2
7365    2
5439    2
7044    2
6710    2
4981    2
6256    2
4973    2
7656    2
5678    2
4957    2
4647    2
5593    2
7618    2
6821    2
7721    2
5682    2
7462    2
6576    2
4917    2
5696    2
7869    2
5292    2
6617    2
Name: ID, Length: 3354, dtype: int64

In [26]:
#Localizando os clubes dos confrontos e adicionando o cartão amarelo zerado no Dataframe de Cartoes tratados

for linha in range(len(df_cartoes_amarelos)):

        #Coletando o id da partida
        idStr=df_cartoes_amarelos.iloc[linha,0].astype(str)
        id=df_cartoes_amarelos.iloc[linha,0]

        #Coletando o dado de mandante
        mandante=df_cartoes_amarelos.iloc[linha,4]

        #Localizando a partida com o id coletado no DataFrame de Jogos
        clube = df_jogos[['ID','mandante','visitante']].query('ID=='+idStr )


        #Se o valor de mandante for verdadeiro o clube que será coletado será o visitante e vice-versa
        if mandante==1:
            clube=clube.iloc[0,2]

            #Criando a linha para incluir no Data Frame de cartões temporário
            nova_linha = {'ID':id,'clube':clube,'cartao':'Amarelo','quantidade_cartoes':0,'mandante':0}
        else:
            clube=clube.iloc[0,1]
            nova_linha = {'ID':id,'clube':clube,'cartao':'Amarelo','quantidade_cartoes':0,'mandante':1}

        #Incluindo a linha no Data Frame    
        df_cartoes_tratados_temp = df_cartoes_tratados_temp.append(nova_linha,ignore_index=True)    
#mandante_jogos.iloc[0,1]
df_cartoes_amarelos['cartao'].value_counts()

Amarelo    6246
Name: cartao, dtype: int64

In [28]:
#Conferindo se os registros dos clubes foram inseridos no DataFrame de Cartões
#df_cartoes_tratados_temp

#Ordenando o DataFrame de cartões temporário pelo ID
df_cartoes_tratados_temp=df_cartoes_tratados_temp.sort_values(by = ['ID'])

#Conferindo se todos os registros de cartões amarelos estão com todas as linhas
df_cartoes_tratados_temp['ID'].value_counts()

#Identificados os IDs e verificados que essas partidas tiveram somente cartões vermelhos. Os cartões vermelhos serão tratados
#posteriormente
#5615,6542,4929,6513
df_cartoes_tratados_temp

         ID          clube    cartao  quantidade_cartoes  mandante
0      4607    Figueirense   Amarelo                   2         0
7019   4607     Fluminense   Amarelo                   0         1
7021   4608  Internacional   Amarelo                   0         1
7020   4608        Vitoria   Amarelo                   0         0
2      4608        Vitoria   Amarelo                   3         0
1      4608  Internacional   Amarelo                   2         1
3      4609       Coritiba   Amarelo                   1         0
7022   4609    Chapecoense   Amarelo                   0         1
4      4610   Athletico-PR   Amarelo                   1         1
7023   4610         Gremio   Amarelo                   0         0
7024   4610   Athletico-PR   Amarelo                   0         1
5      4610         Gremio   Amarelo                   2         0
7025   4611      Sao Paulo   Amarelo                   0         1
7026   4611    Botafogo-RJ   Amarelo                   0         0
7      4611      Sao Paulo   Amarelo                   1         1
6      4611    Botafogo-RJ   Amarelo                   2         0
7027   4612       Cruzeiro   Amarelo                   0         0
7028   4612          Bahia   Amarelo                   0         1
8      4612          Bahia   Amarelo                   4         1
9      4612       Cruzeiro   Amarelo                   4         0
7030   4614       Flamengo   Amarelo                   0         1
10     4614       Flamengo   Amarelo                   4         1
11     4614          Goias   Amarelo                   2         0
7029   4614          Goias   Amarelo                   0         0
7032   4615         Santos   Amarelo                   0         1
7031   4615          Sport   Amarelo                   0         0
12     4615         Santos   Amarelo                   1         1
13     4615          Sport   Amarelo                   3         0
7034   4616       Criciuma   Amarelo                   0         1
7033   4616      Palmeiras   Amarelo                   0         0
...     ...            ...       ...                 ...       ...
7003   8019     America-MG   Amarelo                   3         1
7004   8019    Atletico-GO   Amarelo                   2         0
13252  8019     America-MG   Amarelo                   0         1
13251  8019    Atletico-GO   Amarelo                   0         0
7005   8019    Atletico-GO  Vermelho                   1         0
7006   8020      Fortaleza   Amarelo                   3         0
13254  8020      Fortaleza   Amarelo                   0         0
13253  8020         Santos   Amarelo                   0         1
7007   8020         Santos   Amarelo                   1         1
7008   8021       Coritiba   Amarelo                   4         0
13256  8021       Coritiba   Amarelo                   0         0
13255  8021         Cuiaba   Amarelo                   0         1
7010   8021         Cuiaba   Amarelo                   1         1
7009   8021       Coritiba  Vermelho                   1         0
7011   8022     Bragantino   Amarelo                   3         1
7012   8022     Fluminense   Amarelo                   2         0
13257  8022     Fluminense   Amarelo                   0         0
13258  8022     Bragantino   Amarelo                   0         1
13260  8023    Atletico-MG   Amarelo                   0         0
7013   8023    Atletico-MG   Amarelo                   6         0
7014   8023    Corinthians   Amarelo                   3         1
13259  8023    Corinthians   Amarelo                   0         1
13262  8024  Internacional   Amarelo                   0         1
13261  8024      Palmeiras   Amarelo                   0         0
7016   8024      Palmeiras   Amarelo                   3         0
7015   8024  Internacional   Amarelo                   2         1
7017   8025          Goias   Amarelo                   2         1
7018   8025      Sao Paulo   Amarelo                   1         0
13263  8025      Sao Paulo   Amarelo                   0         0
13264  8025          Goias   Amarelo                   0         1

[13265 rows x 5 columns]

In [68]:
#Agora iremos tratar os cartões vermelhos para que os clubes que não aparecem com valor zerado na partida seja incluidos
#no DataFrame de Cartões

#Filtrando somente os registros de cartões amarelos
df_cartoes_vermelhos= df_cartoes_tratados_temp[(df_cartoes_tratados_temp.cartao == 'Vermelho')]

#Identificando os registros que possuem somente um registro de cartão amarelo
df_cartoes_vermelhos=df_cartoes_vermelhos.drop_duplicates('ID',keep=False)

In [69]:
#Localizando os clubes dos confrontos e adicionando o cartão amarelo zerado no Dataframe de Cartoes tratados

for linha in range(len(df_cartoes_vermelhos)):

        #Coletando o id da partida
        idStr=df_cartoes_vermelhos.iloc[linha,0].astype(str)
        id=df_cartoes_vermelhos.iloc[linha,0]

        #Coletando o dado de mandante
        mandante=df_cartoes_vermelhos.iloc[linha,4]

        #Localizando a partida com o id coletado no DataFrame de Jogos
        clube = df_jogos[['ID','mandante','visitante']].query('ID=='+idStr )


        #Se o valor de mandante for verdadeiro o clube que será coletado será o visitante e vice-versa
        if mandante==1:
            clube=clube.iloc[0,2]

            #Criando a linha para incluir no Data Frame de cartões temporário
            nova_linha = {'ID':id,'clube':clube,'cartao':'Vermelho','quantidade_cartoes':0,'mandante':0}
        else:
            clube=clube.iloc[0,1]
            nova_linha = {'ID':id,'clube':clube,'cartao':'Vermelho','quantidade_cartoes':0,'mandante':1}

        #Incluindo a linha no Data Frame    
        df_cartoes_tratados_temp = df_cartoes_tratados_temp.append(nova_linha,ignore_index=True)

In [70]:
#df_cartoes_tratados_temp.info()
#Ordenando o DataFrame de cartões temporário pelo ID
df_cartoes_tratados_temp=df_cartoes_tratados_temp.sort_values(by = ['ID'])

#Conferindo se todos os registros de cartões vermelhos estão com todas as linhas
df_cartoes_tratados_temp['ID'].value_counts()

#Identificados os IDs que ainda possuem dois registros de cartões sendo eles somente de cartões amarelos. Esses devem ser tratados
#para que também sejam incluidos no Data Frame de cartões com os valores zerados para a equipe mandante e visitante
#das partidas.

#df_cartoes_tratados_temp
df_cartoes_tratados_temp[df_cartoes_tratados_temp.ID==7558]

        ID      clube   cartao  quantidade_cartoes  mandante
6443  7558      Bahia  Amarelo                   1         0
6444  7558  Juventude  Amarelo                   2         1

In [ ]:
#Conferindo a ocorrência dos valores da coluna mandante no Data Frame de cartões 
#para verificar se existe algum valor aleatório ainda atribuido.

print(df_cartoes_tratados_temp['mandante'].value_counts())
print(df_cartoes_tratados_temp['ID'].value_counts())

In [71]:
#Foram identificados registros que ainda possuem 2 ocorrencias de cartões. Precisamos identificar quais são os registros que 
#faltam para completar o DataFrame de Cartões

#Retornando um DataFrame para o método value_counts com a condicional dos registros que tem somente duas ocorrências.
df_ids=df_cartoes_tratados_temp['ID'].value_counts()[df_cartoes_tratados_temp['ID'].value_counts()==2].reset_index().rename(columns={'ID': "qtd", "index":'ID'})
df_ids

        ID  qtd
0     7558    2
1     6782    2
2     6770    2
3     5511    2
4     4731    2
5     5515    2
6     5639    2
7     6778    2
8     5635    2
9     4707    2
10    6506    2
11    6526    2
12    6514    2
13    6758    2
14    4715    2
15    6518    2
16    4723    2
17    4711    2
18    7562    2
19    6762    2
20    6774    2
21    4727    2
22    4719    2
23    6646    2
24    5507    2
25    6466    2
26    6806    2
27    5491    2
28    4763    2
29    7538    2
...    ...  ...
2642  5180    2
2643  7225    2
2644  7217    2
2645  7213    2
2646  5164    2
2647  7209    2
2648  5220    2
2649  5224    2
2650  5280    2
2651  7273    2
2652  7325    2
2653  5276    2
2654  5272    2
2655  7317    2
2656  5268    2
2657  7313    2
2658  5264    2
2659  7309    2
2660  5260    2
2661  7305    2
2662  7301    2
2663  5252    2
2664  5248    2
2665  7293    2
2666  7289    2
2667  5240    2
2668  5236    2
2669  5232    2
2670  7277    2
2671  6147    2

[2672 rows x 2 columns]

In [72]:
#Adicionando a coluna cartões ao Data Frame df_ids
df_ids['cartoes'] = 'N/A'

#Conferindo se existe algum registro com a quantidade diferente de dois cartões
df_ids[['ID','qtd','cartoes']].query('qtd!=2')

Empty DataFrame
Columns: [ID, qtd, cartoes]
Index: []

In [73]:
#Código para identificar quais são os cartões referentes as quantidades
for linha in range(len(df_ids)):

        #Coletando o id da partida
        idStr=df_ids.iloc[linha,0].astype(str)
        id=df_ids.iloc[linha,0]

        #Localizando a partida com o id coletado no DataFrame de Jogos
        df_temp = df_cartoes_tratados_temp[['ID','cartao']].query('ID=='+idStr )
        
        #Coletando o primeiro cartao
        cartao1=df_temp.iloc[0,1]
        
        #Coletando o segundo cartao
        cartao2 = df_temp.iloc[1,1]
        cartoes=cartao1 + '/' + cartao2 

        #Atribui os cartões na coluna cartoes
        df_ids['cartoes'].iloc[linha] = cartoes


df_ids

C:\Users\Diogo\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

        ID  qtd          cartoes
0     7558    2  Amarelo/Amarelo
1     6782    2  Amarelo/Amarelo
2     6770    2  Amarelo/Amarelo
3     5511    2  Amarelo/Amarelo
4     4731    2  Amarelo/Amarelo
5     5515    2  Amarelo/Amarelo
6     5639    2  Amarelo/Amarelo
7     6778    2  Amarelo/Amarelo
8     5635    2  Amarelo/Amarelo
9     4707    2  Amarelo/Amarelo
10    6506    2  Amarelo/Amarelo
11    6526    2  Amarelo/Amarelo
12    6514    2  Amarelo/Amarelo
13    6758    2  Amarelo/Amarelo
14    4715    2  Amarelo/Amarelo
15    6518    2  Amarelo/Amarelo
16    4723    2  Amarelo/Amarelo
17    4711    2  Amarelo/Amarelo
18    7562    2  Amarelo/Amarelo
19    6762    2  Amarelo/Amarelo
20    6774    2  Amarelo/Amarelo
21    4727    2  Amarelo/Amarelo
22    4719    2  Amarelo/Amarelo
23    6646    2  Amarelo/Amarelo
24    5507    2  Amarelo/Amarelo
25    6466    2  Amarelo/Amarelo
26    6806    2  Amarelo/Amarelo
27    5491    2  Amarelo/Amarelo
28    4763    2  Amarelo/Amarelo
29    7538    2  Amarelo/Amarelo
...    ...  ...              ...
2642  5180    2  Amarelo/Amarelo
2643  7225    2  Amarelo/Amarelo
2644  7217    2  Amarelo/Amarelo
2645  7213    2  Amarelo/Amarelo
2646  5164    2  Amarelo/Amarelo
2647  7209    2  Amarelo/Amarelo
2648  5220    2  Amarelo/Amarelo
2649  5224    2  Amarelo/Amarelo
2650  5280    2  Amarelo/Amarelo
2651  7273    2  Amarelo/Amarelo
2652  7325    2  Amarelo/Amarelo
2653  5276    2  Amarelo/Amarelo
2654  5272    2  Amarelo/Amarelo
2655  7317    2  Amarelo/Amarelo
2656  5268    2  Amarelo/Amarelo
2657  7313    2  Amarelo/Amarelo
2658  5264    2  Amarelo/Amarelo
2659  7309    2  Amarelo/Amarelo
2660  5260    2  Amarelo/Amarelo
2661  7305    2  Amarelo/Amarelo
2662  7301    2  Amarelo/Amarelo
2663  5252    2  Amarelo/Amarelo
2664  5248    2  Amarelo/Amarelo
2665  7293    2  Amarelo/Amarelo
2666  7289    2  Amarelo/Amarelo
2667  5240    2  Amarelo/Amarelo
2668  5236    2  Amarelo/Amarelo
2669  5232    2  Amarelo/Amarelo
2670  7277    2  Amarelo/Amarelo
2671  6147    2  Amarelo/Amarelo

[2672 rows x 3 columns]

In [74]:
#Conferindo a existência de algum registro com cartões Amarelo/Vermelho
df_ids[['ID','qtd','cartoes']].query("cartoes=='Amarelo/Vermelho'")

Empty DataFrame
Columns: [ID, qtd, cartoes]
Index: []

In [75]:
#Conferindo a existência de algum registro com cartões Vermelho/Amarelo
df_ids[['ID','qtd','cartoes']].query("cartoes=='Vermelho/Amarelo'")

Empty DataFrame
Columns: [ID, qtd, cartoes]
Index: []

In [76]:
#Conferindo a existência de algum registro com cartões Vermelho/Vermelho
df_ids[['ID','qtd','cartoes']].query("cartoes=='Vermelho/Vermelho'")

        ID  qtd            cartoes
83    5615    2  Vermelho/Vermelho
145   6542    2  Vermelho/Vermelho
1346  4929    2  Vermelho/Vermelho
1953  6513    2  Vermelho/Vermelho

In [77]:
#Conferindo a existência de algum registro com cartões Amarelo/Amarelo
df_ids[['ID','qtd','cartoes']].query("cartoes=='Amarelo/Amarelo'")

        ID  qtd          cartoes
0     7558    2  Amarelo/Amarelo
1     6782    2  Amarelo/Amarelo
2     6770    2  Amarelo/Amarelo
3     5511    2  Amarelo/Amarelo
4     4731    2  Amarelo/Amarelo
5     5515    2  Amarelo/Amarelo
6     5639    2  Amarelo/Amarelo
7     6778    2  Amarelo/Amarelo
8     5635    2  Amarelo/Amarelo
9     4707    2  Amarelo/Amarelo
10    6506    2  Amarelo/Amarelo
11    6526    2  Amarelo/Amarelo
12    6514    2  Amarelo/Amarelo
13    6758    2  Amarelo/Amarelo
14    4715    2  Amarelo/Amarelo
15    6518    2  Amarelo/Amarelo
16    4723    2  Amarelo/Amarelo
17    4711    2  Amarelo/Amarelo
18    7562    2  Amarelo/Amarelo
19    6762    2  Amarelo/Amarelo
20    6774    2  Amarelo/Amarelo
21    4727    2  Amarelo/Amarelo
22    4719    2  Amarelo/Amarelo
23    6646    2  Amarelo/Amarelo
24    5507    2  Amarelo/Amarelo
25    6466    2  Amarelo/Amarelo
26    6806    2  Amarelo/Amarelo
27    5491    2  Amarelo/Amarelo
28    4763    2  Amarelo/Amarelo
29    7538    2  Amarelo/Amarelo
...    ...  ...              ...
2642  5180    2  Amarelo/Amarelo
2643  7225    2  Amarelo/Amarelo
2644  7217    2  Amarelo/Amarelo
2645  7213    2  Amarelo/Amarelo
2646  5164    2  Amarelo/Amarelo
2647  7209    2  Amarelo/Amarelo
2648  5220    2  Amarelo/Amarelo
2649  5224    2  Amarelo/Amarelo
2650  5280    2  Amarelo/Amarelo
2651  7273    2  Amarelo/Amarelo
2652  7325    2  Amarelo/Amarelo
2653  5276    2  Amarelo/Amarelo
2654  5272    2  Amarelo/Amarelo
2655  7317    2  Amarelo/Amarelo
2656  5268    2  Amarelo/Amarelo
2657  7313    2  Amarelo/Amarelo
2658  5264    2  Amarelo/Amarelo
2659  7309    2  Amarelo/Amarelo
2660  5260    2  Amarelo/Amarelo
2661  7305    2  Amarelo/Amarelo
2662  7301    2  Amarelo/Amarelo
2663  5252    2  Amarelo/Amarelo
2664  5248    2  Amarelo/Amarelo
2665  7293    2  Amarelo/Amarelo
2666  7289    2  Amarelo/Amarelo
2667  5240    2  Amarelo/Amarelo
2668  5236    2  Amarelo/Amarelo
2669  5232    2  Amarelo/Amarelo
2670  7277    2  Amarelo/Amarelo
2671  6147    2  Amarelo/Amarelo

[2668 rows x 3 columns]

In [78]:
#Filtrando os registros de cartões amarelos 

df_ids_amarelo=df_ids[['ID','qtd','cartoes']].query("cartoes=='Amarelo/Amarelo'")

In [79]:
#Inserindo as linhas de cartões vermelhos zerados para as partidas sem registros de cartões vermelhos no DataFrame
#cartões tratados

for linha in range(len(df_ids_amarelo)):

        #Coletando o id da partida
        idStr=df_ids_amarelo.iloc[linha,0].astype(str)
        id=df_ids_amarelo.iloc[linha,0]

        #Localizando a partida com o id coletado no DataFrame de Jogos
        df_temp = df_jogos[['ID','mandante','visitante']].query('ID=='+idStr )
        
        #Coletando o mandante
        mandante=df_temp.iloc[0,1]
        
        #Coletando o visitante
        visitante = df_temp.iloc[0,2]
     
        #Criando a linha para incluir no Data Frame de cartões temporário
        nova_linha = {'ID':id,'clube':mandante,'cartao':'Vermelho','quantidade_cartoes':0,'mandante':1}
       
        #Incluindo a linha no Data Frame    
        df_cartoes_tratados_temp = df_cartoes_tratados_temp.append(nova_linha,ignore_index=True)
    
        nova_linha = {'ID':id,'clube':visitante,'cartao':'Vermelho','quantidade_cartoes':0,'mandante':0}

        #Incluindo a linha no Data Frame    
        df_cartoes_tratados_temp = df_cartoes_tratados_temp.append(nova_linha,ignore_index=True)

In [80]:
#Ordenando o DataFrame de cartões temporário pelo ID
df_cartoes_tratados_temp=df_cartoes_tratados_temp.sort_values(by = ['ID','clube','cartao'])
df_cartoes_tratados_temp

         ID          clube    cartao  quantidade_cartoes  mandante
0      4607    Figueirense   Amarelo                   2         0
8293   4607    Figueirense  Vermelho                   0         0
1      4607     Fluminense   Amarelo                   0         1
8292   4607     Fluminense  Vermelho                   0         1
3      4608  Internacional   Amarelo                   2         1
12026  4608  Internacional  Vermelho                   0         1
2      4608        Vitoria   Amarelo                   3         0
12027  4608        Vitoria  Vermelho                   0         0
4      4609    Chapecoense   Amarelo                   0         1
11064  4609    Chapecoense  Vermelho                   0         1
5      4609       Coritiba   Amarelo                   1         0
11065  4609       Coritiba  Vermelho                   0         0
7      4610   Athletico-PR   Amarelo                   1         1
9680   4610   Athletico-PR  Vermelho                   0         1
6      4610         Gremio   Amarelo                   2         0
9681   4610         Gremio  Vermelho                   0         0
8      4611    Botafogo-RJ   Amarelo                   2         0
8299   4611    Botafogo-RJ  Vermelho                   0         0
9      4611      Sao Paulo   Amarelo                   1         1
8298   4611      Sao Paulo  Vermelho                   0         1
11     4612          Bahia   Amarelo                   4         1
12022  4612          Bahia  Vermelho                   0         1
10     4612       Cruzeiro   Amarelo                   4         0
12023  4612       Cruzeiro  Vermelho                   0         0
12     4614       Flamengo   Amarelo                   4         1
9678   4614       Flamengo  Vermelho                   0         1
13     4614          Goias   Amarelo                   2         0
9679   4614          Goias  Vermelho                   0         0
14     4615         Santos   Amarelo                   1         1
8306   4615         Santos  Vermelho                   0         1
...     ...            ...       ...                 ...       ...
8069   8018      Juventude   Amarelo                   4         0
12637  8018      Juventude  Vermelho                   0         0
8070   8019     America-MG   Amarelo                   3         1
8073   8019     America-MG  Vermelho                   0         1
8071   8019    Atletico-GO   Amarelo                   2         0
8072   8019    Atletico-GO  Vermelho                   1         0
8074   8020      Fortaleza   Amarelo                   3         0
11425  8020      Fortaleza  Vermelho                   0         0
8075   8020         Santos   Amarelo                   1         1
11424  8020         Santos  Vermelho                   0         1
8077   8021       Coritiba   Amarelo                   4         0
8078   8021       Coritiba  Vermelho                   1         0
8079   8021         Cuiaba   Amarelo                   1         1
8076   8021         Cuiaba  Vermelho                   0         1
8080   8022     Bragantino   Amarelo                   3         1
12638  8022     Bragantino  Vermelho                   0         1
8081   8022     Fluminense   Amarelo                   2         0
12639  8022     Fluminense  Vermelho                   0         0
8082   8023    Atletico-MG   Amarelo                   6         0
9919   8023    Atletico-MG  Vermelho                   0         0
8083   8023    Corinthians   Amarelo                   3         1
9918   8023    Corinthians  Vermelho                   0         1
8084   8024  Internacional   Amarelo                   2         1
11420  8024  Internacional  Vermelho                   0         1
8085   8024      Palmeiras   Amarelo                   3         0
11421  8024      Palmeiras  Vermelho                   0         0
8087   8025          Goias   Amarelo                   2         1
11004  8025          Goias  Vermelho                   0         1
8086   8025      Sao Paulo   Amarelo                   1         0
11005  8025      Sao Paulo  Vermelho                   0         0

[13424 rows x 5 columns]

In [81]:
#Filtranto os registros de cartões vermelhos 

df_ids_vermelho=df_ids[['ID','qtd','cartoes']].query("cartoes=='Vermelho/Vermelho'")

In [82]:
#Inserindo as linhas de cartões amarelos zerados para as partidas sem registros de cartões amarelos no DataFrame
#cartões tratados

for linha in range(len(df_ids_vermelho)):

        #Coletando o id da partida
        idStr=df_ids_vermelho.iloc[linha,0].astype(str)
        id=df_ids_vermelho.iloc[linha,0]

        #Localizando a partida com o id coletado no DataFrame de Jogos
        df_temp = df_jogos[['ID','mandante','visitante']].query('ID=='+idStr )
        
        #Coletando o mandante
        mandante=df_temp.iloc[0,1]
        
        #Coletando o visitante
        visitante = df_temp.iloc[0,2]
     
        #Criando a linha para incluir no Data Frame de cartões temporário
        nova_linha = {'ID':id,'clube':mandante,'cartao':'Amarelo','quantidade_cartoes':0,'mandante':1}
       
        #Incluindo a linha no Data Frame    
        df_cartoes_tratados_temp = df_cartoes_tratados_temp.append(nova_linha,ignore_index=True)
    
        nova_linha = {'ID':id,'clube':visitante,'cartao':'Amarelo','quantidade_cartoes':0,'mandante':0}

        #Incluindo a linha no Data Frame    
        df_cartoes_tratados_temp = df_cartoes_tratados_temp.append(nova_linha,ignore_index=True)

In [83]:
#Ordenando o DataFrame de cartões temporário pelo ID
df_cartoes_tratados_temp=df_cartoes_tratados_temp.sort_values(by = ['ID','clube','cartao'])
df_cartoes_tratados_temp

         ID          clube    cartao  quantidade_cartoes  mandante
0      4607    Figueirense   Amarelo                   2         0
1      4607    Figueirense  Vermelho                   0         0
2      4607     Fluminense   Amarelo                   0         1
3      4607     Fluminense  Vermelho                   0         1
4      4608  Internacional   Amarelo                   2         1
5      4608  Internacional  Vermelho                   0         1
6      4608        Vitoria   Amarelo                   3         0
7      4608        Vitoria  Vermelho                   0         0
8      4609    Chapecoense   Amarelo                   0         1
9      4609    Chapecoense  Vermelho                   0         1
10     4609       Coritiba   Amarelo                   1         0
11     4609       Coritiba  Vermelho                   0         0
12     4610   Athletico-PR   Amarelo                   1         1
13     4610   Athletico-PR  Vermelho                   0         1
14     4610         Gremio   Amarelo                   2         0
15     4610         Gremio  Vermelho                   0         0
16     4611    Botafogo-RJ   Amarelo                   2         0
17     4611    Botafogo-RJ  Vermelho                   0         0
18     4611      Sao Paulo   Amarelo                   1         1
19     4611      Sao Paulo  Vermelho                   0         1
20     4612          Bahia   Amarelo                   4         1
21     4612          Bahia  Vermelho                   0         1
22     4612       Cruzeiro   Amarelo                   4         0
23     4612       Cruzeiro  Vermelho                   0         0
24     4614       Flamengo   Amarelo                   4         1
25     4614       Flamengo  Vermelho                   0         1
26     4614          Goias   Amarelo                   2         0
27     4614          Goias  Vermelho                   0         0
28     4615         Santos   Amarelo                   1         1
29     4615         Santos  Vermelho                   0         1
...     ...            ...       ...                 ...       ...
13394  8018      Juventude   Amarelo                   4         0
13395  8018      Juventude  Vermelho                   0         0
13396  8019     America-MG   Amarelo                   3         1
13397  8019     America-MG  Vermelho                   0         1
13398  8019    Atletico-GO   Amarelo                   2         0
13399  8019    Atletico-GO  Vermelho                   1         0
13400  8020      Fortaleza   Amarelo                   3         0
13401  8020      Fortaleza  Vermelho                   0         0
13402  8020         Santos   Amarelo                   1         1
13403  8020         Santos  Vermelho                   0         1
13404  8021       Coritiba   Amarelo                   4         0
13405  8021       Coritiba  Vermelho                   1         0
13406  8021         Cuiaba   Amarelo                   1         1
13407  8021         Cuiaba  Vermelho                   0         1
13408  8022     Bragantino   Amarelo                   3         1
13409  8022     Bragantino  Vermelho                   0         1
13410  8022     Fluminense   Amarelo                   2         0
13411  8022     Fluminense  Vermelho                   0         0
13412  8023    Atletico-MG   Amarelo                   6         0
13413  8023    Atletico-MG  Vermelho                   0         0
13414  8023    Corinthians   Amarelo                   3         1
13415  8023    Corinthians  Vermelho                   0         1
13416  8024  Internacional   Amarelo                   2         1
13417  8024  Internacional  Vermelho                   0         1
13418  8024      Palmeiras   Amarelo                   3         0
13419  8024      Palmeiras  Vermelho                   0         0
13420  8025          Goias   Amarelo                   2         1
13421  8025          Goias  Vermelho                   0         1
13422  8025      Sao Paulo   Amarelo                   1         0
13423  8025      Sao Paulo  Vermelho                   0         0

[13432 rows x 5 columns]

In [84]:
#Retornando um DataFrame para conferir se existe alguma partida com a quantidade diferentes de 4 registros.
df_ids_conf=df_cartoes_tratados_temp['ID'].value_counts()[df_cartoes_tratados_temp['ID'].value_counts()!=4].reset_index().rename(columns={'ID': "qtd", "index":'ID'})
df_ids_conf

Empty DataFrame
Columns: [ID, qtd]
Index: []

In [85]:
#Separando o DataFrame de cartões para dois DataFrames, um de registros de cartões amarelos e o outro de cartões vermelhos
df_cartoes_tratados_amarelo = df_cartoes_tratados_temp[['ID','clube','cartao','quantidade_cartoes','mandante']].query("cartao=='Amarelo'")

df_cartoes_tratados_vermelho = df_cartoes_tratados_temp[['ID','clube','cartao','quantidade_cartoes','mandante']].query("cartao=='Vermelho'")

In [86]:
df_cartoes_tratados_amarelo.query('ID==6650')

Empty DataFrame
Columns: [ID, clube, cartao, quantidade_cartoes, mandante]
Index: []

In [87]:
#Criando um DataFrame com os registros do DataFrame de cartões amarelos em um DataFrame com as linhas transpostas
df_cartoes_tratados_temp2 = df_cartoes_tratados_amarelo

mask = df_cartoes_tratados_temp2['mandante'] == 1

df_cartoes_tratados_temp2 = df_cartoes_tratados_temp2.drop(columns = ['mandante'])

mandante = df_cartoes_tratados_temp2.loc[mask]
visitante = df_cartoes_tratados_temp2.loc[~mask]

colunas_mandante = ['ID', 'clube', 'cartao',  'quantidade_cartoes']
colunas_visitante = ['ID', 'clube', 'cartao',  'quantidade_cartoes']


mandante.columns = colunas_mandante
visitante.columns = colunas_visitante

df_amarelos = mandante.merge(visitante, on='ID',how='outer')
df_amarelos.head()

,ID,clube_x,cartao_x,quantidade_cartoes_x,clube_y,cartao_y,quantidade_cartoes_y
0,4607,Fluminense,Amarelo,0,Figueirense,Amarelo,2
1,4608,Internacional,Amarelo,2,Vitoria,Amarelo,3
2,4609,Chapecoense,Amarelo,0,Coritiba,Amarelo,1
3,4610,Athletico-PR,Amarelo,1,Gremio,Amarelo,2
4,4611,Sao Paulo,Amarelo,1,Botafogo-RJ,Amarelo,2

In [88]:
#Verificando dados nulos após o merge
df_amarelos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3358 entries, 0 to 3357
Data columns (total 7 columns):
ID                      3358 non-null int64
clube_x                 3358 non-null object
cartao_x                3358 non-null object
quantidade_cartoes_x    3358 non-null int64
clube_y                 3358 non-null object
cartao_y                3358 non-null object
quantidade_cartoes_y    3358 non-null int64
dtypes: int64(3), object(4)
memory usage: 209.9+ KB

In [89]:
#Renomeando as colunas do DataFrame de cartões amarelos
df_amarelos.rename(columns={'clube_x':'clube_mandante'},inplace=True)
df_amarelos.rename(columns={'cartao_x':'tipo_cartao_mandante'},inplace=True)
df_amarelos.rename(columns={'quantidade_cartoes_x':'qtd_cartao_amarelo_mandante'},inplace=True)
df_amarelos.rename(columns={'clube_y':'clube_visitante'},inplace=True)
df_amarelos.rename(columns={'cartao_y':'tipo_cartao_visitante'},inplace=True)
df_amarelos.rename(columns={'quantidade_cartoes_y':'qtd_cartao_amarelo_visitante'},inplace=True)
df_amarelos.head()

,ID,clube_mandante,tipo_cartao_mandante,qtd_cartao_amarelo_mandante,clube_visitante,tipo_cartao_visitante,qtd_cartao_amarelo_visitante
0,4607,Fluminense,Amarelo,0,Figueirense,Amarelo,2
1,4608,Internacional,Amarelo,2,Vitoria,Amarelo,3
2,4609,Chapecoense,Amarelo,0,Coritiba,Amarelo,1
3,4610,Athletico-PR,Amarelo,1,Gremio,Amarelo,2
4,4611,Sao Paulo,Amarelo,1,Botafogo-RJ,Amarelo,2

In [91]:
#Criando um DataFrame com os registros do DataFrame de cartões vermelhos em um DataFrame com as linhas transpostas
df_cartoes_tratados_temp2 = df_cartoes_tratados_vermelho

mask = df_cartoes_tratados_temp2['mandante'] == 1

df_cartoes_tratados_temp2 = df_cartoes_tratados_temp2.drop(columns = ['mandante'])

mandante = df_cartoes_tratados_temp2.loc[mask]
visitante = df_cartoes_tratados_temp2.loc[~mask]

colunas_mandante = ['ID', 'clube', 'cartao',  'quantidade_cartoes']
colunas_visitante = ['ID', 'clube', 'cartao',  'quantidade_cartoes']


mandante.columns = colunas_mandante
visitante.columns = colunas_visitante

df_vermelhos = mandante.merge(visitante, on='ID',how='outer')
df_vermelhos.head()

,ID,clube_x,cartao_x,quantidade_cartoes_x,clube_y,cartao_y,quantidade_cartoes_y
0,4607,Fluminense,Vermelho,0,Figueirense,Vermelho,0
1,4608,Internacional,Vermelho,0,Vitoria,Vermelho,0
2,4609,Chapecoense,Vermelho,0,Coritiba,Vermelho,0
3,4610,Athletico-PR,Vermelho,0,Gremio,Vermelho,0
4,4611,Sao Paulo,Vermelho,0,Botafogo-RJ,Vermelho,0

In [92]:
#Renomeando as colunas do DataFrame de cartões vermelhos
df_vermelhos.rename(columns={'clube_x':'clube_mandante'},inplace=True)
df_vermelhos.rename(columns={'cartao_x':'tipo_cartao_mandante'},inplace=True)
df_vermelhos.rename(columns={'quantidade_cartoes_x':'qtd_cartao_vermelho_mandante'},inplace=True)
df_vermelhos.rename(columns={'clube_y':'clube_visitante'},inplace=True)
df_vermelhos.rename(columns={'cartao_y':'tipo_cartao_visitante'},inplace=True)
df_vermelhos.rename(columns={'quantidade_cartoes_y':'qtd_cartao_vermelho_visitante'},inplace=True)
df_vermelhos.head()

,ID,clube_mandante,tipo_cartao_mandante,qtd_cartao_vermelho_mandante,clube_visitante,tipo_cartao_visitante,qtd_cartao_vermelho_visitante
0,4607,Fluminense,Vermelho,0,Figueirense,Vermelho,0
1,4608,Internacional,Vermelho,0,Vitoria,Vermelho,0
2,4609,Chapecoense,Vermelho,0,Coritiba,Vermelho,0
3,4610,Athletico-PR,Vermelho,0,Gremio,Vermelho,0
4,4611,Sao Paulo,Vermelho,0,Botafogo-RJ,Vermelho,0

In [94]:
#Verificando os Metadados do Dataframe
df_vermelhos.describe()

,ID,qtd_cartao_vermelho_mandante,qtd_cartao_vermelho_visitante
count,3358.000000,3358.000000,3358.000000
mean,6316.686420,0.101549,0.151578
std,985.944726,0.329456,0.401756
min,4607.000000,0.000000,0.000000
25%,5464.250000,0.000000,0.000000
50%,6316.500000,0.000000,0.000000
75%,7166.750000,0.000000,0.000000
max,8025.000000,3.000000,3.000000

In [95]:
#Verificando os Metadados do Dataframe
df_amarelos.describe()

                ID  qtd_cartao_amarelo_mandante  qtd_cartao_amarelo_visitante
count  3358.000000                  3358.000000                   3358.000000
mean   6316.686420                     2.236450                      2.495235
std     985.944726                     1.384223                      1.447875
min    4607.000000                     0.000000                      0.000000
25%    5464.250000                     1.000000                      1.000000
50%    6316.500000                     2.000000                      2.000000
75%    7166.750000                     3.000000                      3.000000
max    8025.000000                    10.000000                      9.000000

In [96]:
#Executando a mescla dos DataFrames
df_cartoes_merge = df_amarelos.merge(df_vermelhos, on='ID',how='outer')
df_cartoes_merge.head()

,ID,clube_mandante_x,tipo_cartao_mandante_x,qtd_cartao_amarelo_mandante,clube_visitante_x,tipo_cartao_visitante_x,qtd_cartao_amarelo_visitante,clube_mandante_y,tipo_cartao_mandante_y,qtd_cartao_vermelho_mandante,clube_visitante_y,tipo_cartao_visitante_y,qtd_cartao_vermelho_visitante
0,4607,Fluminense,Amarelo,0,Figueirense,Amarelo,2,Fluminense,Vermelho,0,Figueirense,Vermelho,0
1,4608,Internacional,Amarelo,2,Vitoria,Amarelo,3,Internacional,Vermelho,0,Vitoria,Vermelho,0
2,4609,Chapecoense,Amarelo,0,Coritiba,Amarelo,1,Chapecoense,Vermelho,0,Coritiba,Vermelho,0
3,4610,Athletico-PR,Amarelo,1,Gremio,Amarelo,2,Athletico-PR,Vermelho,0,Gremio,Vermelho,0
4,4611,Sao Paulo,Amarelo,1,Botafogo-RJ,Amarelo,2,Sao Paulo,Vermelho,0,Botafogo-RJ,Vermelho,0

In [97]:
#Renomeando algumas colunas
df_cartoes_merge.rename(columns={'clube_mandante_x':'clube_mandante'},inplace=True)
df_cartoes_merge.rename(columns={'tipo_cartao_mandante_x':'tipo_cartao_mandante'},inplace=True)
df_cartoes_merge.rename(columns={'clube_visitante_x':'clube_visitante'},inplace=True)
df_cartoes_merge.rename(columns={'tipo_cartao_visitante_x':'tipo_cartao_visitante'},inplace=True)
df_cartoes_merge.rename(columns={'cartao_y':'tipo_cartao_visitante'},inplace=True)

df_cartoes_merge.head()

,ID,clube_mandante,tipo_cartao_mandante,qtd_cartao_amarelo_mandante,clube_visitante,tipo_cartao_visitante,qtd_cartao_amarelo_visitante,clube_mandante_y,tipo_cartao_mandante_y,qtd_cartao_vermelho_mandante,clube_visitante_y,tipo_cartao_visitante_y,qtd_cartao_vermelho_visitante
0,4607,Fluminense,Amarelo,0,Figueirense,Amarelo,2,Fluminense,Vermelho,0,Figueirense,Vermelho,0
1,4608,Internacional,Amarelo,2,Vitoria,Amarelo,3,Internacional,Vermelho,0,Vitoria,Vermelho,0
2,4609,Chapecoense,Amarelo,0,Coritiba,Amarelo,1,Chapecoense,Vermelho,0,Coritiba,Vermelho,0
3,4610,Athletico-PR,Amarelo,1,Gremio,Amarelo,2,Athletico-PR,Vermelho,0,Gremio,Vermelho,0
4,4611,Sao Paulo,Amarelo,1,Botafogo-RJ,Amarelo,2,Sao Paulo,Vermelho,0,Botafogo-RJ,Vermelho,0

In [98]:
#Veficando os dados de registros e colunas do DataFrame
df_cartoes_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3358 entries, 0 to 3357
Data columns (total 13 columns):
ID                               3358 non-null int64
clube_mandante                   3358 non-null object
tipo_cartao_mandante             3358 non-null object
qtd_cartao_amarelo_mandante      3358 non-null int64
clube_visitante                  3358 non-null object
tipo_cartao_visitante            3358 non-null object
qtd_cartao_amarelo_visitante     3358 non-null int64
clube_mandante_y                 3358 non-null object
tipo_cartao_mandante_y           3358 non-null object
qtd_cartao_vermelho_mandante     3358 non-null int64
clube_visitante_y                3358 non-null object
tipo_cartao_visitante_y          3358 non-null object
qtd_cartao_vermelho_visitante    3358 non-null int64
dtypes: int64(5), object(8)
memory usage: 367.3+ KB

In [99]:
#Selecionando colunas para o DataFrame de cartões

df_cartoes_temp=df_cartoes_merge[['ID','clube_mandante','qtd_cartao_amarelo_mandante','qtd_cartao_vermelho_mandante','clube_visitante','qtd_cartao_amarelo_visitante','qtd_cartao_vermelho_visitante']]

df_cartoes_temp.head()

,ID,clube_mandante,qtd_cartao_amarelo_mandante,qtd_cartao_vermelho_mandante,clube_visitante,qtd_cartao_amarelo_visitante,qtd_cartao_vermelho_visitante
0,4607,Fluminense,0,0,Figueirense,2,0
1,4608,Internacional,2,0,Vitoria,3,0
2,4609,Chapecoense,0,0,Coritiba,1,0
3,4610,Athletico-PR,1,0,Gremio,2,0
4,4611,Sao Paulo,1,0,Botafogo-RJ,2,0

In [100]:
#Criando a coluna de total de cartões do clube mandante
df_cartoes_temp['total_cartoes_mandante']=df_cartoes_temp[['qtd_cartao_amarelo_mandante','qtd_cartao_vermelho_mandante']].sum(axis=1)
df_cartoes_temp.head()

C:\Users\Diogo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ID,clube_mandante,qtd_cartao_amarelo_mandante,qtd_cartao_vermelho_mandante,clube_visitante,qtd_cartao_amarelo_visitante,qtd_cartao_vermelho_visitante,total_cartoes_mandante
0,4607,Fluminense,0,0,Figueirense,2,0,0
1,4608,Internacional,2,0,Vitoria,3,0,2
2,4609,Chapecoense,0,0,Coritiba,1,0,0
3,4610,Athletico-PR,1,0,Gremio,2,0,1
4,4611,Sao Paulo,1,0,Botafogo-RJ,2,0,1

In [101]:
#Criando a coluna de total de cartões do clube visitante
df_cartoes_temp['total_cartoes_visitante']=df_cartoes_temp[['qtd_cartao_amarelo_visitante','qtd_cartao_vermelho_visitante']].sum(axis=1)
df_cartoes_temp.head()

C:\Users\Diogo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ID,clube_mandante,qtd_cartao_amarelo_mandante,qtd_cartao_vermelho_mandante,clube_visitante,qtd_cartao_amarelo_visitante,qtd_cartao_vermelho_visitante,total_cartoes_mandante,total_cartoes_visitante
0,4607,Fluminense,0,0,Figueirense,2,0,0,2
1,4608,Internacional,2,0,Vitoria,3,0,2,3
2,4609,Chapecoense,0,0,Coritiba,1,0,0,1
3,4610,Athletico-PR,1,0,Gremio,2,0,1,2
4,4611,Sao Paulo,1,0,Botafogo-RJ,2,0,1,2

In [102]:
#Criando a coluna de total de cartões amarelos na partida
df_cartoes_temp['total_cartoes_amarelos']=df_cartoes_temp[['qtd_cartao_amarelo_mandante','qtd_cartao_amarelo_visitante']].sum(axis=1)
df_cartoes_temp.head()

C:\Users\Diogo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ID,clube_mandante,qtd_cartao_amarelo_mandante,qtd_cartao_vermelho_mandante,clube_visitante,qtd_cartao_amarelo_visitante,qtd_cartao_vermelho_visitante,total_cartoes_mandante,total_cartoes_visitante,total_cartoes_amarelos
0,4607,Fluminense,0,0,Figueirense,2,0,0,2,2
1,4608,Internacional,2,0,Vitoria,3,0,2,3,5
2,4609,Chapecoense,0,0,Coritiba,1,0,0,1,1
3,4610,Athletico-PR,1,0,Gremio,2,0,1,2,3
4,4611,Sao Paulo,1,0,Botafogo-RJ,2,0,1,2,3

In [103]:
#Criando a coluna de total de cartões vermelhos na partida
df_cartoes_temp['total_cartoes_vermelhos']=df_cartoes_temp[['qtd_cartao_vermelho_mandante','qtd_cartao_vermelho_visitante']].sum(axis=1)
df_cartoes_temp.head()

C:\Users\Diogo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ID,clube_mandante,qtd_cartao_amarelo_mandante,qtd_cartao_vermelho_mandante,clube_visitante,qtd_cartao_amarelo_visitante,qtd_cartao_vermelho_visitante,total_cartoes_mandante,total_cartoes_visitante,total_cartoes_amarelos,total_cartoes_vermelhos
0,4607,Fluminense,0,0,Figueirense,2,0,0,2,2,0
1,4608,Internacional,2,0,Vitoria,3,0,2,3,5,0
2,4609,Chapecoense,0,0,Coritiba,1,0,0,1,1,0
3,4610,Athletico-PR,1,0,Gremio,2,0,1,2,3,0
4,4611,Sao Paulo,1,0,Botafogo-RJ,2,0,1,2,3,0

In [104]:
#Criando a coluna de total de cartões na partida
df_cartoes_temp['total_cartoes_partida']=df_cartoes_temp[['total_cartoes_mandante','total_cartoes_visitante']].sum(axis=1)
df_cartoes_temp.head()

C:\Users\Diogo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ID,clube_mandante,qtd_cartao_amarelo_mandante,qtd_cartao_vermelho_mandante,clube_visitante,qtd_cartao_amarelo_visitante,qtd_cartao_vermelho_visitante,total_cartoes_mandante,total_cartoes_visitante,total_cartoes_amarelos,total_cartoes_vermelhos,total_cartoes_partida
0,4607,Fluminense,0,0,Figueirense,2,0,0,2,2,0,2
1,4608,Internacional,2,0,Vitoria,3,0,2,3,5,0,5
2,4609,Chapecoense,0,0,Coritiba,1,0,0,1,1,0,1
3,4610,Athletico-PR,1,0,Gremio,2,0,1,2,3,0,3
4,4611,Sao Paulo,1,0,Botafogo-RJ,2,0,1,2,3,0,3

In [105]:
#Conferindo os dados
df_cartoes_temp.query('qtd_cartao_vermelho_visitante>2')

,ID,clube_mandante,qtd_cartao_amarelo_mandante,qtd_cartao_vermelho_mandante,clube_visitante,qtd_cartao_amarelo_visitante,qtd_cartao_vermelho_visitante,total_cartoes_mandante,total_cartoes_visitante,total_cartoes_amarelos,total_cartoes_vermelhos,total_cartoes_partida
588,5209,Athletico-PR,4,1,Joinville,3,3,5,6,7,4,11
809,5433,Atletico-MG,4,1,Cruzeiro,6,3,5,9,10,4,14
1604,6241,Palmeiras,4,3,Flamengo,6,3,7,9,10,6,16
3242,7909,Flamengo,1,2,Fluminense,5,3,3,8,6,5,11

In [ ]:
#Reordenando os dados pelo ID
df_cartoes_temp.sort_values(by = ['ID'],ascending=True,inplace=True)
df_cartoes_temp

In [108]:
#Verificando a dimensão do Dataframe
df_cartoes.shape

(3358, 12)

In [106]:
#Salvando os dados no diretório local
df_cartoes = df_cartoes_temp
df_cartoes.to_csv('D:\\Users\\Diogo\\Documents\\Pós Graduação\\Módulos\\TCC\\DataSets\\Futebol Brasileiro\\df_cartoes.csv')

# INSERINDO PARTIDAS SEM CARTÕES NO DATA FRAME

In [ ]:
# O capítulo de Dados Ausentes tratou este Data Frame e inseriu as partidas que não possuem cartões amarelos. Portanto, aqui,
# iremos utilizar este Data Frame que já recebeu esse tratamento.

In [112]:
#Carregando o Dataframe df_cartoes_tratados
df_cartoes_tratados=pd.read_csv('df_cartoes_tratados.csv',sep=',')

In [114]:
df_cartoes_tratados.head()

,Unnamed: 0,ID,Unnamed: 0.1,campeonato,clube_mandante,clube_visitante,data,qtd_cartao_amarelo_mandante,qtd_cartao_amarelo_visitante,qtd_cartao_vermelho_mandante,qtd_cartao_vermelho_visitante,total_cartoes_amarelos,total_cartoes_mandante,total_cartoes_partida,total_cartoes_vermelhos,total_cartoes_visitante
0,0,4607,0.0,12,Fluminense,Figueirense,19/4/2014,0,2,0,0,2,0,2,0,2
1,1,4608,1.0,12,Internacional,Vitoria,19/4/2014,2,3,0,0,5,2,5,0,3
2,2,4609,2.0,12,Chapecoense,Coritiba,19/4/2014,0,1,0,0,1,0,1,0,1
3,3,4610,3.0,12,Athletico-PR,Gremio,20/4/2014,1,2,0,0,3,1,3,0,2
4,4,4611,4.0,12,Sao Paulo,Botafogo-RJ,20/4/2014,1,2,0,0,3,1,3,0,2

In [125]:
df_cartoes_tratados.shape

(3419, 16)

#  CORRIGINDO VALORES PARA O DATA FRAME CARTÕES

In [128]:
# No capítulo XXX em que analisamos quais os dados de faltas iriamos utilizar, o do data frame de faltas ou do data frame
# de cartões, identificamos partidas com dados incorretos nos valores dos cartões. Portanto, aqui, iremos corrigir esses dados
# para prosseguir com o desenvolvimento do trabalho.

df_cartoes_conferencia_corretos=pd.read_csv('df_conferencia_cartoes_corrigido.csv',sep=';')
df_cartoes_conferencia_corretos.head()

,ID,data,clube_mandante,clube_visitante,qtd_cartao_amarelo_mandante_corrigido,qtd_cartao_amarelo_visitante_corrigido,qtd_cartao_vermelho_mandante_corrigido,qtd_cartao_vermelho_visitante_corrigido
0,4989,9/5/2015,Fluminense,Joinville,2,1,0,1
1,4990,10/5/2015,Gremio,Ponte Preta,3,5,0,1
2,4994,10/5/2015,Sport,Figueirense,1,3,0,1
3,4995,10/5/2015,Avai,Santos,2,2,0,1
4,5008,23/5/2015,Vasco,Internacional,6,3,0,1

In [129]:
#Criando o Dataframe df_cartoes_conferencia_incorretos
df_cartoes_conferencia_incorretos=df_cartoes_tratados
df_cartoes_conferencia_incorretos.head()

,Unnamed: 0,ID,Unnamed: 0.1,campeonato,clube_mandante,clube_visitante,data,qtd_cartao_amarelo_mandante,qtd_cartao_amarelo_visitante,qtd_cartao_vermelho_mandante,qtd_cartao_vermelho_visitante,total_cartoes_amarelos,total_cartoes_mandante,total_cartoes_partida,total_cartoes_vermelhos,total_cartoes_visitante
0,0,4607,0.0,12,Fluminense,Figueirense,19/4/2014,0,2,0,0,2,0,2,0,2
1,1,4608,1.0,12,Internacional,Vitoria,19/4/2014,2,3,0,0,5,2,5,0,3
2,2,4609,2.0,12,Chapecoense,Coritiba,19/4/2014,0,1,0,0,1,0,1,0,1
3,3,4610,3.0,12,Athletico-PR,Gremio,20/4/2014,1,2,0,0,3,1,3,0,2
4,4,4611,4.0,12,Sao Paulo,Botafogo-RJ,20/4/2014,1,2,0,0,3,1,3,0,2

In [132]:
#Criando o dataframe df_combinado resultado da mescla dos Dataframes df_cartoes_conferencia_incorretos e df_cartoes_conferencia_corretos
df_combinado=df_cartoes_conferencia_incorretos.merge(df_cartoes_conferencia_corretos,on='ID',how='left')
df_combinado.head(100)

,Unnamed: 0,ID,Unnamed: 0.1,campeonato,clube_mandante_x,clube_visitante_x,data_x,qtd_cartao_amarelo_mandante,qtd_cartao_amarelo_visitante,qtd_cartao_vermelho_mandante,...,total_cartoes_partida,total_cartoes_vermelhos,total_cartoes_visitante,data_y,clube_mandante_y,clube_visitante_y,qtd_cartao_amarelo_mandante_corrigido,qtd_cartao_amarelo_visitante_corrigido,qtd_cartao_vermelho_mandante_corrigido,qtd_cartao_vermelho_visitante_corrigido
0,0,4607,0.0,12,Fluminense,Figueirense,19/4/2014,0,2,0,...,2,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,4608,1.0,12,Internacional,Vitoria,19/4/2014,2,3,0,...,5,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,4609,2.0,12,Chapecoense,Coritiba,19/4/2014,0,1,0,...,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4610,3.0,12,Athletico-PR,Gremio,20/4/2014,1,2,0,...,3,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4611,4.0,12,Sao Paulo,Botafogo-RJ,20/4/2014,1,2,0,...,3,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,4612,5.0,12,Bahia,Cruzeiro,20/4/2014,4,4,0,...,8,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,4614,6.0,12,Flamengo,Goias,20/4/2014,4,2,0,...,6,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,4615,7.0,12,Santos,Sport,20/4/2014,1,3,0,...,4,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,4616,8.0,12,Criciuma,Palmeiras,20/4/2014,3,5,0,...,8,0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,4617,9.0,12,Coritiba,Santos,26/4/2014,3,4,0,...,7,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,4618,10.0,12,Palmeiras,Fluminense,26/4/2014,1,2,0,...,3,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,4619,11.0,12,Botafogo-RJ,Internacional,27/4/2014,2,4,1,...,7,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,4620,12.0,12,Vitoria,Athletico-PR,27/4/2014,1,1,0,...,2,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,4621,13.0,12,Corinthians,Flamengo,27/4/2014,2,1,0,...,4,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,4622,14.0,12,Cruzeiro,Sao Paulo,27/4/2014,2,1,0,...,3,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,4623,15.0,12,Figueirense,Bahia,27/4/2014,3,2,0,...,5,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,4624,16.0,12,Gremio,Atletico-MG,27/4/2014,3,3,1,...,7,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,4625,17.0,12,Goias,Criciuma,27/4/2014,0,1,0,...,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,4626,18.0,12,Sport,Chapecoense,27/4/2014,1,1,0,...,2,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,4627,19.0,12,Santos,Gremio,3/5/2014,1,1,0,...,2,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,4628,20.0,12,Athletico-PR,Cruzeiro,3/5/2014,3,3,1,...,7,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,4629,21.0,12,Sao Paulo,Coritiba,3/5/2014,3,3,0,...,6,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,4630,22.0,12,Fluminense,Vitoria,3/5/2014,1,1,0,...,2,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,4631,23.0,12,Criciuma,Figueirense,4/5/2014,1,5,0,...,7,1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,4632,24.0,12,Internacional,Sport,4/5/2014,2,2,0,...,4,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,4633,25.0,12,Bahia,Botafogo-RJ,4/5/2014,4,4,0,...,8,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,4634,26.0,12,Flamengo,Palmeiras,4/5/2014,2,4,0,...,6,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,4635,27.0,12,Chapecoense,Corinthians,4/5/2014,3,3,0,...,6,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,4636,28.0,12,Atletico-MG,Goias,4/5/2014,2,1,0,...,3,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,4637,29.0,12,Internacional,Athletico-PR,10/5/2014,3,1,0,...,4,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,70,4680,70.0,12,Internacional,Chapecoense,28/5/2014,2,4,0,...,6,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,71,4682,71.0,12,Corinthians,Cruzeiro,28/5/2014,2,0,0,...,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,72,4683,72.0,12,Athletico-PR,Sao Paulo,28/5/2014,2,1,0,...,3,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,73,4684,73.0,12,Atletico-MG,Fluminense,28/5/2014,7,4,0,...,12,1,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,74,4685,74.0,12,Flamengo,Figueirense,29/5/2014,0,1,0,...,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,75,4686,75.0,12,Bahia,Santos,29/5/2014,4,2,0,...,6,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,76,4687,76.0,12,Coritiba,Goias,31/5/2014,4,2,0,...,6,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,77,4688,77.0,12,Sao Paulo,Atletico-MG,31/5/2014,3,2,0,...,5,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,78,4689,78.0,12,Vitoria,Sport,31/5/2014,4,3,0,...,7,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,79,4690,79.0,12,Gremio,Palmeiras,1/6/2014,3,5,0,...,8,0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,80,4691,80.0,12,Chapecoense,Bahia,1/6/2014,4,3,0,...,7,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,81,4692,81.0,12,Cruzeiro,Flamengo,1/6/2014,0,1,0,...,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,82,4693,82.0,12,Fluminense,Internacional,1/6/2014,2,3,0,...,5,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,83,4694,83.0,12,Santos,Criciuma,1/6/2014,2,4,0,...,6,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,84,4695,84.0,12,Figueirense,Athletico-PR,1/6/2014,4,4,0,...,8,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,85,4696,85.0,12,Botafogo-RJ,Corinthians,11/10/2014,3,2,1,...,6,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,86,4697,86.0,12,Corinthians,Botafogo-RJ,1/6/2014,0,3,0,...,3,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,87,4698,87.0,12,Goias,Coritiba,11/10/2014,2,2,0,...,4,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,88,4699,88.0,12,Palmeiras,Gremio,11/10/2014,1,5,0,...,7,1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,89,4700,89.0,12,Flamengo,Cruzeiro,12/10/2014,2,2,0,...,4,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,90,4701,90.0,12,Bahia,Chapecoense,12/10/2014,1,2,0,...,4,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,91,4702,91.0,12,Internacional,Fluminense,12/10/2014,3,3,0,...,6,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,92,4703,92.0,12,Atletico-MG,Sao Paulo,12/10/2014,0,1,0,...,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,93,4704,93.0,12,Athletico-PR,Figueirense,12/10/2014,2,3,0,...,5,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,94,4705,94.0,12,Sport,Vitoria,12/10/2014,2,4,0,...,6,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,95,4706,95.0,12,Criciuma,Santos,12/10/2014,4,1,0,...,5,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,96,4707,96.0,12,Gremio,Goias,16/7/2014,1,4,0,...,5,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,97,4708,97.0,12,Coritiba,Figueirense,16/7/2014,1,2,0,...,3,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,98,4709,98.0,12,Sport,Botafogo-RJ,16/7/2014,1,2,0,...,3,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,99,4710,99.0,12,Criciuma,Fluminense,16/7/2014,2,2,0,...,4,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
#Executando a correção dos dados
df_combinado.loc[~df_combinado['qtd_cartao_amarelo_mandante_corrigido'].isna(),['ID','qtd_cartao_amarelo_visitante',
            'qtd_cartao_amarelo_visitante_corrigido','qtd_cartao_vermelho_visitante','qtd_cartao_vermelho_visitante_corrigido']]

,ID,qtd_cartao_amarelo_visitante,qtd_cartao_amarelo_visitante_corrigido,qtd_cartao_vermelho_visitante,qtd_cartao_vermelho_visitante_corrigido
373,4989,1,1.0,1,1.0
374,4990,5,5.0,1,1.0
378,4994,3,3.0,1,1.0
379,4995,2,2.0,1,1.0
392,5008,3,3.0,1,1.0
394,5010,5,5.0,1,1.0
401,5017,2,2.0,1,1.0
408,5024,1,1.0,1,1.0
409,5025,3,3.0,1,1.0
410,5026,6,6.0,1,1.0
412,5028,3,3.0,0,0.0
426,5043,5,5.0,0,0.0
431,5048,4,4.0,1,1.0
438,5055,7,7.0,2,2.0
442,5059,1,1.0,1,1.0
443,5060,4,4.0,1,1.0
446,5063,5,5.0,1,1.0
447,5064,5,5.0,2,2.0
459,5076,3,3.0,1,1.0
468,5085,2,2.0,0,0.0
471,5088,2,2.0,2,2.0
473,5090,2,2.0,0,0.0
476,5093,1,1.0,0,0.0
505,5122,2,2.0,2,2.0
521,5139,2,2.0,1,1.0
532,5151,2,2.0,1,1.0
539,5158,4,4.0,1,1.0
540,5159,5,5.0,1,1.0
543,5162,4,4.0,2,2.0
549,5168,1,1.0,0,0.0
...,...,...,...,...,...
3040,7701,7,8.0,0,0.0
3051,7712,5,5.0,1,1.0
3052,7713,1,2.0,1,1.0
3055,7717,5,6.0,0,0.0
3077,7739,4,4.0,1,1.0
3093,7755,5,5.0,1,1.0
3107,7769,6,6.0,0,0.0
3109,7771,6,6.0,2,1.0
3121,7783,4,4.0,1,1.0
3141,7804,2,2.0,2,2.0
3172,7835,3,4.0,0,0.0
3192,7856,2,2.0,0,0.0
3194,7858,5,5.0,1,1.0
3195,7859,3,3.0,0,0.0
3223,7890,6,6.0,1,1.0
3227,7894,2,2.0,1,2.0
3234,7901,4,4.0,1,1.0
3242,7909,5,5.0,3,3.0
3247,7914,2,2.0,1,1.0
3259,7926,3,3.0,1,1.0
3267,7934,2,3.0,1,1.0
3271,7938,4,4.0,0,0.0
3290,7957,3,3.0,1,1.0
3291,7958,5,5.0,1,1.0
3301,7968,4,4.0,1,1.0
3319,7986,2,2.0,0,0.0
3329,7997,1,1.0,1,1.0
3334,8002,5,5.0,1,1.0
3340,8008,2,2.0,2,2.0
3353,8021,4,4.0,1,1.0

In [150]:
#Conferindo os dados
df_cartoes_conferencia_corretos[df_cartoes_conferencia_corretos.ID==7713]

,ID,data,clube_mandante,clube_visitante,qtd_cartao_amarelo_mandante_corrigido,qtd_cartao_amarelo_visitante_corrigido,qtd_cartao_vermelho_mandante_corrigido,qtd_cartao_vermelho_visitante_corrigido
306,7713,15/5/2022,Botafogo-RJ,Fortaleza,3,2,0,1

In [151]:
#Conferindo os dados
df_cartoes_tratados[df_cartoes_tratados.ID==7713]

,Unnamed: 0,ID,Unnamed: 0.1,campeonato,clube_mandante,clube_visitante,data,qtd_cartao_amarelo_mandante,qtd_cartao_amarelo_visitante,qtd_cartao_vermelho_mandante,qtd_cartao_vermelho_visitante,total_cartoes_amarelos,total_cartoes_mandante,total_cartoes_partida,total_cartoes_vermelhos,total_cartoes_visitante
3052,3052,7713,3052.0,20,Botafogo-RJ,Fortaleza,15/5/2022,3,1,0,1,4,3,5,1,2